.*
!.editorconfig
!.gitattributes
!.gitignore
!.pre-commit-config.yaml
.*
!.editorconfig
!.gitattributes
!.gitignore
!.pre-commit-config.yaml
!/Make/*/.vscode
*~
\#*\#
.\#
*.backup
*.bak
*.pyc
*.kdev4
*.projectile
*.iml
GPATH
GRTAGS
GTAGS
tags
Thumbs.dbBuild/
